* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-width: 36rem;
  height: 100vh;
  margin: 0;
}

.header {
  display: inline-table;
  font-size: 5rem;
  color: #FFF;
  border-bottom: 4px solid gray;
  background: linear-gradient(to top, #373737, #212121);
  width: 100%;
  height: 20%;
  text-align: center;
}

.header h1 {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.projects__list {
  padding-left: 0;
  list-style: none;
}

.projects__list-item {
  font-size: 3.5rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: .5rem;
  width: 25rem;
  border-radius: .5rem;
}

.projects__list-item a {
  text-decoration: none;
  color: #FFF;
}

.projects__list-item a:hover {
  color:black;
}

.projects__list-item:first-child {
  background: orange;
}

.projects__list-item:nth-child(2) {
  background: green;
}

.projects__list-item:nth-child(3) {
  background: #1010a5;
  color:white
}

.projects__list-item:nth-child(4) {
  background: #dbdb1d;
  color:white
}

.projects__list-item:nth-child(5) {
  background: #1ddb9c;
  color:white
}

.projects__list-item:last-child {
  background: #ca3131;
  color:white
}