* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  height: 30%;
  background: #000;
  margin-bottom: 5px;
}

main {
  width: 99%;
  display: flex;
  height: 60%;
  background: #ececec;
  margin: 5px;
}

main aside {
  width: 30%;
  height: auto;
  border: 3px solid black;
  border-radius: 5px;
  margin-right: 5px;
}

main section {
  width: 70%;
  height: auto;
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

footer {
  width: 100%;
  height: 8%;
  background: #000;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.6);
}

.spinner {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  width: 150px;
  height: 90px;
  border: 2px solid #2a36a5;
  border-radius: 5px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.spinner div {
  background: rgba(42, 54, 165, 0.4);
  width: 20%;
  height: 75%;
  animation: changeBgcolor 1s linear infinite;
}

.spinner div:nth-child(1) {
  animation-delay: 0.5s;
}

.spinner div:nth-child(2) {
  animation-delay: 0.75s;
}

@keyframes changeBgcolor {
  0% {
    background-color: rgba(42, 54, 165, 0.8);
  }
  50% {
    background-color: rgb(42, 54, 165);
    transform: rotateX(180deg);
  }
}
